{
  "plugins": [
    "@babel/plugin-syntax-dynamic-import"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "ie": "11",
          "firefox": "62",
          "chrome": "69"
        },
        "useBuiltIns": "entry"
      }
    ],
    "@babel/react",
    "@babel/flow"
  ]
}